{% render 'partials/headBirthdate.liquid', title: 'Squad page' %}

<ul class="filter">
  <li>
    <a href="/">Naam</a>
  </li>
  <li>
    <a href="">Geboorte datum</a>
  </li>
  <li>
    <a href="/border-radius">Ronde hoek</a>
  </li>
  <li>
    <form action="">
      <input type="search" placeholder="Search...">
    </form>
  </li>
</ul>

<ul class="students">
  {% for person in persons %}
    <li>
      <a href="/student/{{ person.id }}">{{ person.birthdate }}</a>
      <img
        class="person-img"
        loading="lazy"
        {% if person.mugshot %}
          src="{{'https://fdnd.directus.app/assets/' | append:  person.mugshot | append:'?width=300' }}"
        {% else %}
          src="{{ person.avatar }}"
        {% endif %}
        alt=" {{ person.birthdate }}"
      >
    </li>
  {% endfor %}
</ul>

{% render 'partials/foot.liquid', squads: squads %}