{% render 'partials/head.liquid', title: 'Squad page' %}

<ul class="filter">
  <li class="name">
    <a href="/">Naam</a>
    <a href="/">A - Z</a>
    <a href="/Z-A">Z - A</a>
  </li>
  <li class="birthdate">
    <a href="/birthdate">Geboorte datum</a>
    <a href="/birthdate">Oud - Jong</a>
    <a href="/birthdate-jong-oud">Jong - Oud</a>
  </li>
  <li class="border">
    <a href="/border-radius">Ronde hoek</a>
    <a href="/border-radius">Hoek - Rond</a>
    <a href="/border-radius-groot-klein">Rond - Hoek</a>
  </li>
  <li class="search">
    <form action="">
      <input type="search" placeholder="Search...">
    </form>
  </li>
</ul>

<ul class="students">
  {% for person in persons %}
    <li class="student-card" style="box-shadow:0 0 20px 5px {{ person.fav_color }}; border-radius: {{ person.fav_border_radius }}px"> 
      <a href="/student/{{ person.id }}">{{ person.name }}</a>
      <a href="/student/{{ person.id }}">{{ person.birthdate | date: '%d-%m-%Y'}}</a>

      <img
        class="person-img"
        loading="lazy"
        width="100"
        {% if person.mugshot %}
          src="{{'https://fdnd.directus.app/assets/' | append:  person.mugshot | append:'?width=300' }}"
        {% else %}
          src="{{ person.avatar }}"
        {% endif %}
        alt="{{ person.name }}"
      >
    
    </li>
  {% endfor %}
</ul>


{% render 'partials/foot.liquid', squads: squads %}